export ConnectionStrings__696fd374-e61c-4021-8970-36b6cb97591f="Data Source=localhost,1434;Initial Catalog=696fd374-e61c-4021-8970-36b6cb97591f;User Id=sa;Password=**saPwd**;Encrypt=false"
export GrateEnvironment=LOCAL

